---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap:
  exclude: 'yes'
---
@charset "utf-8";

/* =Colors */
$dorian: #FFFFFF;
$iron: #333333;
$cloudy: #828282;

@import
    "mixins",
    "default",
    "404"
;

/****** Gallery *****/
#gallery ul.thumbs img {
  margin: 5px;
  height: 150px;
  display: inline-block;
}

#gallery ul.thumbs li {
  float: left;
}

#gallery .nav-controls a {
  margin-left: 6px;
}

#gallery span.image-caption {
  position: relative;
}

#gallery .image-wrapper img {
  height: 400px;
}

.popupContainer {
  display: none;
  background-color: rgba(0,0,0,0.25);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 200%;
}

.popup {
  background-color: white;
  width: 70%;
  // height:
  margin: auto;
  vertical-align: middle;
}