---
layout: default
---
{% include category/title.html %}

<div id="gallery">
    <div id="controls"></div>
    <div id="loading"></div>
    <div id="slideshow"></div>
    <div id="caption"></div>
    <div id="thumbs">
        <ul class="thumbs noscript">
        {% assign empty_category = true %}
        {% for post in site.posts %}
            {% if post.categories contains page.category %}
            <li>
                <a class="thumb" name="" href="{{ post.image }}" title="{{ post.title }}">
                    <img  src="{{ post.thumb }}" alt="{{ post.title }}" />
                </a>
                <div class="caption">
                    {{ post.content }}
                </div>
            </li>
            {% assign empty_category = false %}
            {% endif %}
        {% endfor %}


        {% if empty_category %}
            <li class="empty-post-list">
                It seems that there are no images for this category.
            </li>
        {% endif %}
        </ul>
    </div>
 </div>
